body {
    width: 100%;
    height: 100%;
    background: #FFFFFF;
}


.rutubeto_logo {
    
    /*иконка загрузки*/
    
    margin: 4vw auto auto auto;
    color: black;
    text-align: center;
    font-size: 9vw;
    font-weight: 800;
    font-family: 'Chakra Petch', sans-serif;
}
.search_area {
    height: 6vw; 
    margin-bottom: 2vw;   
}
.search_panel {
    /* Rectangle 1 */

    position: absolute;
    width: 85%;
    height: 6vw;
    left: 7.45%;

    background: #ffffff33;
    border: 2px solid #abb4b7a0;
    border-radius: 2.6vw;
    box-sizing: border-box;
    
    /* Вставьте ссылку */

    font-family: 'Chakra Petch', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.8vw;
    line-height: 41px;
    display: flex;
    align-items: center;

    color: rgba(0, 0, 0, 0.5);
}

.load_btn {

    /* Rectangle 3 */

    position: absolute;
    width: 8%;
    height: 6vw;
    left: 85%;

    box-sizing: border-box;

    cursor: pointer;

    /* Скачать */

    font-family: 'Chakra Petch', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.4vw;
    display: flex;
    align-items: center;

    color: #69696981;
}
.load_btn:hover {
    color: #0b0b0b;
}

.description_panel {
    /* Rectangle 2 */

    margin: 0.5vw auto auto auto;

    background: #ffffff87;
    /*border-bottom: 1px solid #abb4b7a0; */
    box-sizing: border-box;

    /* Чтобы скачать видео с рутуба (rutube) просто вставьте ссылку и нажмите скачать, после можно будет выбрать качество скачиваемого изображения */

    font-family: 'Chakra Petch', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.5vw;
    line-height: 2.5vw;
    text-align: center;

    color: #000000;
}


.format_selector {
    /* Rectangle 2 */

    width: 30%;

    margin: 2vw auto auto auto;

    background: #ffffff;
    box-sizing: border-box;

    /* Выберете нужный размер */

    font-family: 'Chakra Petch', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.2vmax;
    line-height: 20px;
    text-align: center;

    color: #686868;
}
.quality_select {

    /* Rectangle 4 */

    margin: 0.6vw;

    background: rgb(0, 0, 0);
    border: 5px solid #000000;
    border-radius: 2.6vw;
    box-sizing: border-box;
    
    /* 240px */

    font-family: 'Chakra Petch', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 2vmax;
    line-height: 34px;
    text-align: center;

    color: #8a8a8a;

}
.quality_select:hover {
    color: #363636;
    background-image: linear-gradient(90deg, rgba(171, 171, 171, 0.073),rgba(171, 171, 171, 0.14), #ababab0f, #ababab2e);
}

.loader {
    margin: auto auto auto auto;
    border: 0.6vw solid #e2e2e2; /* Light grey */
    border-top: 0.6vw solid #606060; /* Blue */
    border-radius: 50%;
    width: 1.9vw;
    height: 1.9vw;
    animation: spin 0.6s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
