body {
    width: 100%;
    height: 100%;

    background: #FFFFFF;
}

.loader {
    border: 0.6vw solid #e2e2e2; /* Light grey */
    border-top: 0.6vw solid #606060; /* Blue */
    border-radius: 50%;
    width: 1.9vw;
    height: 1.9vw;
    animation: spin 0.6s linear infinite;
    position: fixed;
    bottom: 48%;
    left: 50%
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.rutubeto_logo {
    
    position: absolute;
    width: 40vw;
    height: 8vw;

    top: 16%;
    left: 50%;
    margin-left: -20vw;

    background-size: contain;
    background-repeat: no-repeat;

    /* RUTUBETO.ru */
    
    font-family: 'Chakra Petch', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 4.2vw;
    line-height: 87px;

    color: #000000;
}
.search_panel {
    /* Rectangle 1 */

    position: absolute;
    width: 85%;
    height: 6vw;
    left: 7.45%;
    top: 32.74%;

    background: #ffffff33;
    border: 1px solid #abb4b7a0;
    border-radius: 5px;
    box-sizing: border-box;
    
    /* Вставьте ссылку */

    font-family: 'Chakra Petch', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 2vw;
    line-height: 41px;
    display: flex;
    align-items: center;

    color: rgba(0, 0, 0, 0.5);
}

.load_btn {

    /* Rectangle 3 */

    position: absolute;
    width: 8%;
    height: 6vw;
    left: 85%;
    top: 33%;

    background: #ffffff75;
    box-sizing: border-box;

    cursor: pointer;

    /* Скачать */

    font-family: 'Chakra Petch', sans-serif;
    font-style: normal;
    font-weight: 550;
    font-size: 1.4vw;
    display: flex;
    align-items:center;

    color: #69696981;
}
.load_btn:hover {
    color: #0b0b0b;
}

.description_panel {
    /* Rectangle 2 */

    position: absolute;
    width: 50%;
    height: 7vw;
    left: 24%;
    top: 45%;

    background: #ffffff87;
    /*border-bottom: 1px solid #abb4b7a0; */
    box-sizing: border-box;

    /* Вставьте ссылку и нажмите скачать, после можно будет выбрать качество скачиваемого изображения */

    font-family: 'Chakra Petch', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.5vw;
    line-height: 2.5vw;

    color: #000000;
}

.bottom_line {
    /* Line 1 */

    position: absolute;
    left: 3.24%;
    right: 3.16%;
    top: 93%;
    bottom: 7%;

    border: 1px solid #00000034;
}

.count_loads_panel {
    /* Rectangle 6 */

    position: absolute;
    width: 10%;
    height: 35px;
    left: 86%;
    bottom: 2.5%;

    box-sizing: border-box;

    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1vw;
    line-height: 19px;
    display: flex;
    align-items: center;

    color: #000000;
}

.format_selector {
    /* Rectangle 2 */

    position: absolute;
    left: 12.94%;
    right: 52.29%;
    top: 46.99%;
    bottom: 13.56%;

    background: #ffffff;
    box-sizing: border-box;

    /* Выберете нужный размер */

    font-family: 'Chakra Petch', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.2vw;
    line-height: 19px;
    text-align: center;

    color: #686868;
}
.quality_select {

    /* Rectangle 4 */

    position: absolute;

    left: 26%;
    right: 20%;

    background: #ffffff;
    background-image: linear-gradient(90deg, rgba(171, 171, 171, 0),  rgba(171, 171, 171, 0.05), #ababab0f, #ababab07);
    border-bottom: 1px solid #cfcfcf;
    box-sizing: border-box;
    
    /* 240px */

    font-family: 'Chakra Petch', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.5vw;
    line-height: 34px;
    display: flex;
    align-items: center;

    color: #8a8a8a;

}
.quality_select:hover {
    color: #363636;
    background-image: linear-gradient(90deg, rgba(171, 171, 171, 0.073),rgba(171, 171, 171, 0.14), #ababab0f, #ababab2e);
}
.video_preview {
    /* Rectangle 5 */

    position: absolute;
    left: 53.27%;
    right: 19.64%;
    top: 49.86%;
    bottom: 22%;

    background: #7B7B7B;
    border: 1px solid #000000;
    box-sizing: border-box;

    /* Video pre-view */
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;

    color: #FFFFFF;
}
